{% extends '@pages/System/base.html.twig' %}

{% block title %}SYSTEM_MODULE: {{ current_page|title }} - General Tinio, Nueva Ecija | The Official Website{% endblock title %}
{% block right_content %}
  <div class="flex flex-col p-10">
  <h1 class="text-center text-4xl">Module: Messages</h1>
  <hr class="my-5">
  {{ include('@components/System/messages-table.html.twig') }}
  <hr class="my-5">
  {{ include('@components/System/messages-form.html.twig') }}
  </div>
{% endblock right_content %}
{% block scripts %}
  {{ parent() }}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      try {
        let table1 = new DataTable('#messages-table', {
          "columnDefs": [
            { "width": "5%", "targets": 0 },
            { "width": "10%", "targets": 1 },
            { "width": "15%", "targets": 3 },
            { "width": "10%", "targets": 4 },
          ]
        });
      } catch(e) {}
    });

    forward_to.onchange = (e) => {
      let email_account = JSON.parse(e.target.value);

      if(email_account) {
        MessagesForm.querySelector('#name').value  = email_account.name
        MessagesForm.querySelector('#email').value = email_account.email
      } else {
        MessagesForm.querySelector('#name').value  = ""
        MessagesForm.querySelector('#email').value = ""
      }
    }

    MessagesForm.onsubmit = async (e) => {
      e.preventDefault();

      let processingModal = Swal.fire({ 
        imageUrl: '/assets/img/loading.gif',
        title: 'Processing...',
        allowOutsideClick: false, 
        allowEscapeKey: false,          
        showConfirmButton: false
      });

      let hiddenIdInput = MessagesForm.querySelector('#id');
      let response = await fetch('/system/messages/' + hiddenIdInput.value + '/forward', {
        credentials: "same-origin",
        method: 'POST',
        body: new FormData(MessagesForm)
      });
      let {
        message,
        status
      } = await response.json();

      processingModal.close();
      if (status == 'success') {
        Swal.fire({
          icon: 'success',
          title: 'Success!',
          text: message,
          showConfirmButton: false,
          timer: 1500
        }).then(() => window.location.reload());
      } else {
        Swal.fire({
          icon: 'error',
          title: 'Error!',
          text: message
        });
      }
    }

    function forwardMessage(data) {
      let { id, sender, email, message } = data;

      MessagesForm.style = "";
      MessagesForm.querySelector('#message_details').value = 
        `Sender: ${sender}<${email}>` + '\n' +
        `Message: ${message}`;
        
      MessagesForm.querySelector('#id').value = id;
      MessagesForm.querySelector('#sender').value = sender;
      MessagesForm.querySelector('#sender_email').value = email;
      MessagesForm.querySelector('#message').value = message;

      $(MessagesForm.querySelector('#remarks')).focus();
    }

    function cancelForward() {
      {# MessagesForm.style.display = "none"; #}
      MessagesForm.querySelector('#message_details').value = "";
      MessagesForm.querySelector('#sender').value = "";
      MessagesForm.querySelector('#sender_email').value = "";
      MessagesForm.querySelector('#message').value = "";
      MessagesForm.querySelector('#forward_to').value = "";
    }
  </script>
{% endblock scripts %}