<section class="">
  {% include('@components/Website/section-news.html.twig') %}
  <br>
  {% include('@components/Website/section-articles.html.twig') %}
  <br>
  {{ include('@components/Website/section-location.html.twig', { 'page_settings': page_settings }) }}
  <br>
  {{ include('@components/Website/section-visitor_counter.html.twig') }}
</section>