<section id="our-location">
  <h3 class="border-b border-gray-300 text-3xl text-{{ page_settings.color }}-600 py-4 font-semibold">
    Visitor Counter
  </h3>
  <div class="py-4">
    <h3 class="font-semibold text-4xl text-center border p-5 text-gray-500" id="visitor_counter">
      Loading...
    </h3>
  </div>
</section>
