<section id="our-location">
  <h3 class="border-b border-gray-300 text-3xl text-{{ page_settings.color }}-600 py-4 font-semibold">
    Our Location
  </h3>
  <div class="py-4">
    <iframe 
      width="100%"
      height="auto"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d246272.40170470366!2d121.0635476776916!3d15.321894056023798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33972482e0d116a9%3A0xed8aca985f32fef6!2sGeneral%20Tinio%2C%20Nueva%20Ecija!5e0!3m2!1sen!2sph!4v1638279407385!5m2!1sen!2sph" 
      allowfullscreen="" 
      loading="lazy"></iframe>
  </div>
</section>
