<form id="FeaturedStoriesForm" action="/system/featured_stories" method="POST" enctype="multipart/form-data" 
  class="p-5 flex flex-row flex-wrap shadow-lg bg-gray-100 rounded border">
  <div class="w-1/2 p-5 pb-0">
    <div class="py-4">
      <label for="category" class="font-bold py-2 px-4">Category : </label>
      <select required
        class="w-full py-2 px-4 rounded border border-gray-300 focus:border-green-700 focus:outline-none" 
        type="text" id="category" name="category">
        <option value="">Select a category: </option>
        <option value="HIDDEN">HIDDEN</option>
        <option value="HOME">HOME</option>
        <option value="GENERAL INFO">GENERAL INFO</option>
        <option value="GOVERNMENT">GOVERNMENT</option>
        <option value="BARANGAYS">BARANGAYS</option>
        <option value="TOURISM">TOURISM</option>
        <option value="HEALTH">HEALTH</option>
        <option value="BUSINESS">BUSINESS</option>
        <option value="EDUCATION">EDUCATION</option>
      </select>
    </div>
    <div class="py-4">
      <label for="title" class="font-bold py-2 px-4">Title : </label>
      <input required placeholder="Enter featured story title."
        class="w-full py-2 px-4 rounded border border-gray-300 focus:border-green-700 focus:outline-none" 
        type="text" id="title" name="title" 
      />  
    </div>
    <div class="w-full flex flex-col">
      <label class="font-bold py-2 px-4 w-full">Image : </label>
      <img id="image" class="border border-gray-300 rounded h-72 w-full mb-5" src="/assets/img/default.jpg" alt="" />
      <input type="file" name="file" id="file" accept="image/*" />
    </div>
    <div class="py-4">
      <label for="subtitle" class="font-bold py-2 px-4">Subtitle : </label>
      <input required placeholder="Enter featured story subtitle."
        class="w-full py-2 px-4 rounded border border-gray-300 focus:border-green-700 focus:outline-none" 
        type="text" id="subtitle" name="subtitle" 
      />  
    </div>
  </div>

  <div class="w-1/2 p-5">
    <div class="py-4">
      <label for="date" class="font-bold py-2 px-4">Date : </label>
      <input required
        class="w-full py-2 px-4 rounded border border-gray-300 focus:border-green-700 focus:outline-none" 
        type="date" id="date" name="date" 
      />  
    </div>
    <div class="py-4">
      <label for="visible" class="font-bold py-2 px-4">Visible : </label>
      <select required
        class="w-full py-2 px-4 rounded border border-gray-300 focus:border-green-700 focus:outline-none" 
        type="text" id="visible" name="visible">
        <option value="">Select YES or NO: </option>
        <option value="YES">YES</option>
        <option value="NO">NO</option>
      </select>
    </div>
    <div class="py-4">
      <label for="content" class="font-bold py-2 px-4">Content : </label>
      <textarea required placeholder="Enter featured story content."
        rows="6"
        class="w-full py-2 px-4 rounded border border-gray-300 focus:border-green-700 focus:outline-none" 
        id="content" name="content" 
      /></textarea>
    </div>
  </div>

  <div class="p-5 w-full border-t-2 text-right">
    <button id="save-button" type="submit" onclick="setTimeout(() => this.blur(), 300);" 
      class="shadow w-max relative overflow-hidden border p-4 bg-transparent hover:bg-green-700 border-2 border-green-700 text-green-700 hover:text-white font-bold rounded-lg px-5 py-2.5 group">
      <span class="absolute left-0 top-0 bg-transparent h-full w-full group-focus:bg-green-900 transition-all ease-out duration-300"></span>
      <span class="relative">Save Featured Story</span>
    </button>

    <span id="update-buttons" style="display:none">
      <button type="submit" onclick="setTimeout(() => this.blur(), 300);" 
        class="shadow w-max relative overflow-hidden border p-4 bg-transparent hover:bg-green-700 border-2 border-green-700 text-green-700 hover:text-white font-bold rounded-lg px-5 py-2.5 group">
        <span class="absolute left-0 top-0 bg-transparent h-full w-full group-focus:bg-green-900 transition-all ease-out duration-300"></span>
        <span class="relative">Update</span>
      </button>
      <button type="button" onclick="cancelEdit(); setTimeout(() => this.blur(), 300);" 
        class="shadow w-max relative overflow-hidden border p-4 bg-transparent hover:bg-red-700 border-2 border-red-700 text-red-700 hover:text-white font-bold rounded-lg px-5 py-2.5 group">
        <span class="absolute left-0 top-0 bg-transparent h-full w-full group-focus:bg-green-900 transition-all ease-out duration-300"></span>
        <span class="relative">Cancel</span>
      </button>
    </span>
  </div>
</form>
