<form id="NoticeToProceedForm" action="/system/chairmanlines" method="POST" enctype="multipart/form-data" 
  class="p-5 flex flex-row flex-wrap shadow-lg bg-gray-100 rounded border">
  <div class="w-1/2 p-5 pb-0">
    <div class="w-full flex flex-col">
      <label class="font-bold py-2 px-4 w-full">File : </label>
      <iframe id="prevFile" style="height: 333px;" src="/assets/img/PreviewNotAvailable.jpg" class="border border-gray-300 rounded mb-5" alt="" ></iframe>
      <input required type="file" 
        name="file" id="file" 
        accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf,.xlsx, .xls, .csv" 
      />
    </div>
    <div id="container-category" class="field-container py-4 relative">
      <label for="category" class="font-bold py-2 px-4">Category : </label>
      <select required class="w-full py-2 px-4 rounded border border-gray-300 focus:border-green-700 focus:outline-none"
        id="category" name="category">
        <option value="">Select category</option>
        <option value="Consulting">Consulting</option>
        <option value="Civil Work">Civil Work</option>
        <option value="Goods and Services">Goods and Services</option>
      </select>
      <p class="error-message absolute left-4 bottom-[-10px] text-red-600 hidden">This field is required.</p>
    </div>

  </div>

  <div class="w-1/2 p-5">
    <div class="py-4">
      <label for="date_issued" class="font-bold py-2 px-4">Date Issued : </label>
      <input required
        class="w-full py-2 px-4 rounded border border-gray-300 focus:border-green-700 focus:outline-none" 
        type="date" id="date_issued" name="date_issued" 
      />
    </div> 
    <div class="py-4">
      <label for="title" class="font-bold py-2 px-4">Title : </label>
      <input required placeholder="Enter notice title"
        list="titles"
        class="w-full py-2 px-4 rounded border border-gray-300 focus:border-green-700 focus:outline-none" 
        type="text" id="title" name="title" 
      />
      <datalist id="titles">
        {% for bid in awarded_bids %}
            <option value="{{ bid.title }}">
        {% endfor %}
      </datalist>
    </div> 
    <div class="py-4">
      <label for="details" class="font-bold py-2 px-4">Details : </label>
      <textarea required placeholder="Enter notice details."
        rows="6"
        class="w-full py-2 px-4 rounded border border-gray-300 focus:border-green-700 focus:outline-none" 
        id="details" name="details" 
      /></textarea>
    </div>
    <div id="container-type" class="field-container py-4 relative">
      <label for="type" class="font-bold py-2 px-4">Type : </label>
      <select required class="w-full py-2 px-4 rounded border border-gray-300 focus:border-green-700 focus:outline-none"
        id="type" name="type">
        <option value="">Select type</option>
        <option value="Contract">Contract</option>
        <option value="Notice">Notice to Proceed</option>
      </select> 
      <p class="error-message absolute left-4 bottom-[-10px] text-red-600 hidden">This field is required.</p>
    </div>
  </div>

  <div class="p-5 w-full border-t-2 text-right">
    <button id="save-button" type="submit" onclick="setTimeout(() => this.blur(), 300);" 
      class="shadow w-max relative overflow-hidden p-4 bg-transparent hover:bg-green-700 border-2 border-green-700 text-green-700 hover:text-white font-bold rounded-lg px-5 py-2.5 group">
      <span class="absolute left-0 top-0 bg-transparent h-full w-full group-focus:bg-green-900 transition-all ease-out duration-300"></span>
      <span class="relative">Save Document</span>
    </button>

    <span id="update-buttons" style="display:none">
      <button type="submit" onclick="setTimeout(() => this.blur(), 300);" 
        class="shadow w-max relative overflow-hidden p-4 bg-transparent hover:bg-green-700 border-2 border-green-700 text-green-700 hover:text-white font-bold rounded-lg px-5 py-2.5 group">
        <span class="absolute left-0 top-0 bg-transparent h-full w-full group-focus:bg-green-900 transition-all ease-out duration-300"></span>
        <span class="relative">Update Document</span>
      </button>
      <button type="button" onclick="cancelEdit(); setTimeout(() => this.blur(), 300);" 
        class="shadow w-max relative overflow-hidden border p-4 bg-transparent hover:bg-red-700 border-2 border-red-700 text-red-700 hover:text-white font-bold rounded-lg px-5 py-2.5 group">
        <span class="absolute left-0 top-0 bg-transparent h-full w-full group-focus:bg-green-900 transition-all ease-out duration-300"></span>
        <span class="relative">Cancel</span>
      </button>
    </span>
  </div>
</form>
