{% extends "@pages/base.html.twig" %}
{% block title %}404 Not Found{% endblock title %}
{% block styles %}
  {{ parent() }}
  <style>
  #main {

  }
  .background {
    /* The image used */
    background-image: url("/assets/img/404-not-found.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>
{% endblock styles %}
{% block content %}
  <main id="main" class="background flex flex-col w-screen h-screen justify-center items-center">

  </main>
{% endblock content %}
{% block scripts %}
  {{ parent() }}
{% endblock scripts %}